<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Atomic Chess!</title>
    <link rel="stylesheet" href="stylesheets/splash.css" />
</head>
<style>

</style>

<body>
    <div>
        <h1 class="centre-text">Atomic Chess :)</h1>
        <div class="centre-play">
            <form action="/play" method="get">
                <button type="submit" class="button">Play!</button>
            </form>
        </div>
    </div>
</body>

</html>