.sidenav {
    height: 100%;
    width: 30vw;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    animation: color-change 2s forwards;
    animation-timing-function: linear;
}

.vl {
    border-left: 7px solid black;
    height: 100%;
    position: absolute;
    left: 30vw;
    top: 0;
    animation: color-change-border 2s forwards;
    animation-timing-function: linear;
}

@keyframes color-change {
    0% {
        background-color: rgb(0, 119, 255);
    }
    100% {
        background-color: white;
        color: black;
    }
}

@keyframes color-change-border {
    0% {
        border-left: 7px solid rgb(0, 119, 255);
    }
    100% {
        border-left: 7px solid black;
    }
}

.minecraf {
    color: rgb(0, 119, 255);
}

.sidenav img {
    max-width: 100%;
    height: auto;
}

.other-side {
    margin-left: 30vw;
}

h1 {
    font-size: 4vw;
    text-align: center;
    text-decoration: underline;
}

.info {
    position: absolute;
    top: 47%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 40vw;
    font-size: 1.5rem;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: rgb(0, 119, 255);
    font: 1em sans-serif;
    background-size: cover;
}

#board {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    top: 47%;
    left: 60%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    width: 40vw;
    height: 40vw;
    font-size: 1.5rem;
    transition: 0.1s;
}

.square {
    height: 5vw;
    width: 5vw;
    float: left;
}

.square.white {
    background: white;
}

.square.black {
    background: rgb(0, 166, 214);
    /* Delft blue */
}

.square.black.highlight {
    height: 5vw;
    width: 5vw;
    background: rgb(255, 178, 35);
}

.square.white.highlight {
    height: 5vw;
    width: 5vw;
    background: rgb(250, 195, 94);
}

.square-piece {
    height: 5vw;
    width: 5vw;
}