.center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
}

.centre-text {
    font-size: 5vw;
    font-weight: 700;
    text-transform: uppercase;
}

body {
    font: 1em sans-serif;
    background-size: cover;
}

#animate {
    color: rgb(0, 119, 255);
}

#animate:hover {
    cursor: pointer;
}

.change {
    animation: color-change 2s forwards;
    animation-timing-function: linear;
}

@keyframes color-change {
    0% {
        background-color: white;
    }
    100% {
        background-color: rgb(0, 119, 255);
    }
}